.container {
  // max-width so that the container can decrease if there's not enough space to display our 120rem
  max-width: 120rem;
  margin: 8rem auto; // center
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  // Test
  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  display: flex; // never forget to put this on a parent element
  justify-content: space-between; // space-between in Main Axis left-right
  align-items: center; // center items in Cross Axis top-bottom, so we won't use margin-top
}

.content {
  display: flex; // set parent display to flex
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  // INFO: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout
  // flex: flex-grow flex-shrink flex-basis
  // grow 0 - don't want to grow if there's some space
  // shrink 0 - don't want to shrink if there's not enough space
  // basis - width size of the element
  flex: 0 0 18%;

  // Set Sidebar as column & divide available space between elements
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  // grow to fill the remaining enough space as much as it can which is 82%; 100 - 18 = 82%
  flex: 1;

  // TEST - Mimic Purposes
  // height: 80rem;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-2);
  border-bottom: var(--line);
}

.description {
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}

.user-reviews {
  background-color: yellowgreen;
  flex: 1; // occupy remaining space 40%
}
